## Intermediate Data Science
#### Author: Jesus Plascencia
#### Date: 11/22/2025
##### Purpose: To practice data cleaning and exporting data

In [32]:
# Some basic package imports
import os
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.io as pio
pio.renderers.defaule = 'colab'

---------------
## Data Cleaning and Preparation - Day4 HW

## Homework 4

Run the cell to down load the Kaggle Dataset below

1. Load the data into Pandas
2. Quickly describe what you see from a data science perspective (vars, observations, concerns with formatting, etc)
3. How many NaNs are in the data? What do the [] mean in the data? Should you remove all rows with NaN? Are there any duplicate rows?
4. Using the dictionary given here, add a genre column using the .map() command.

```{python}
artist_to_genre = {
    "Taylor Swift": "Pop / Country",
    "Beyoncé": "R&B / Pop",
    "Madonna": "Pop",
    "Pink": "Pop Rock",
    "Celine Dion": "Adult Contemporary",
    "Lady Gaga": "Pop / Dance",
    "Katy Perry": "Pop",
    "Cher": "Pop / Disco",
    "Adele": "Soul / Pop"
}
```
5. Bin the number of shows into 'high','medium','low'. Your choice on with the cutoffs should be. Add columns with the cutoffs and the codes.
6. Create dummy variables for the genres. Separate the text by the / symbol
7. Remove the $ from the money columns and turn these into integers.
8. Remove all other special characters from the data.
9. Separate the Year(s) column into two "Tour Start" and "Tour End"
10. Save the final data as a pickle.

    
------------------------------------

Your final notebooks should:

- [ ] Be a completely new notebook with just the Day4 stuff in it: Read in the data, clean it up and save it. 
- [ ] Be reproducible with junk code removed.
- [ ] Have lots of language describing what you are doing, especially for questions you are asking or things that you find interesting about the data. Use complete sentences, nice headings, and good markdown formatting: https://www.markdownguide.org/cheat-sheet/
- [ ] It should run without errors from start to finish.

## 1] load the data into pandas 

#### Data was created by scraping: https://en.wikipedia.org/wiki/List_of_highest-grossing_concert_tours_by_women

Notes* If this gives an error you might have to copy and paste the path from above then update the \ with / to make it work

In [36]:
import kagglehub

path = kagglehub.dataset_download("amruthayenikonda/dirty-dataset-to-practice-data-cleaning")
print("Path to dataset files:", path)

Path to dataset files: /Users/jesusplascencia/.cache/kagglehub/datasets/amruthayenikonda/dirty-dataset-to-practice-data-cleaning/versions/1

In [38]:
#1] 
os.listdir(path)

['my_file (1).csv']

In [46]:
#1]
path1 = '/Users/jesusplascencia/.cache/kagglehub/datasets/amruthayenikonda/dirty-dataset-to-practice-data-cleaning/versions/1/'
file = path1+os.listdir(path)[0]
df = pd.read_csv(file)
df.head()

,Rank,Peak,All Time Peak,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571",[1]
1,2,1,7[2],"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",[3]
2,3,1[4],2[5],"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,"$4,835,294",[6]
3,4,2[7],10[7],"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",[7]
4,5,2[4],NaN,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8]

## 2] Quickly describe what you see from a data science perspecitve 

I see 11 variables. The variables consist of Rank, Peak, All time Peak, Actua gross, adjsuted gross (2022) dollars, Artists, Tour title, years, shows, average gross, ref. I see the rank and shows are integers while all the other variables are reported as objects. There are 11 variables and 20 observations

In [65]:
display(df.head(10))

df.info()

,Rank,Peak,All Time Peak,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571",[1]
1,2,1,7[2],"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",[3]
2,3,1[4],2[5],"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,"$4,835,294",[6]
3,4,2[7],10[7],"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",[7]
4,5,2[4],NaN,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8]
5,6,2[4],10[9],"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709",[9]
6,7,2[10],NaN,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,2008–2009,131,"$2,137,405",[11]
7,7,NaN,NaN,"$257,600,000","$257,600,000",Pink,Summer Carnival †,2023–2024,41,"$6,282,927",[12]
8,9,NaN,NaN,"$256,084,556","$312,258,401",Beyoncé,The Formation World Tour,2016,49,"$5,226,215",[13]
9,10,NaN,NaN,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",[14]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Rank                              20 non-null     int64
 1   Peak                              9 non-null      object
 2   All Time Peak                     6 non-null      object
 3   Actual gross                      20 non-null     object
 4   Adjusted gross (in 2022 dollars)  20 non-null     object
 5   Artist                            20 non-null     object
 6   Tour title                        20 non-null     object
 7   Year(s)                           20 non-null     object
 8   Shows                             20 non-null     int64
 9   Average gross                     20 non-null     object
 10  Ref.                              20 non-null     object
dtypes: int64(2), object(9)
memory usage: 1.8+ KB

In [63]:
print(df.columns.tolist)
df.shape

<bound method IndexOpsMixin.tolist of Index(['Rank', 'Peak', 'All Time Peak', 'Actual gross',
       'Adjusted gross (in 2022 dollars)', 'Artist', 'Tour title', 'Year(s)',
       'Shows', 'Average gross', 'Ref.'],
      dtype='object')>

(20, 11)

## 3 How many NaNs are in the data? What do the [ ] mean in the data? 

I can see that 'peak' and 'all time peak' contain 25 NaN values in total. The ** [ ]  likely corresponds to the column ref. I believe ref stands for references so when a column such as all time peak has elements with 7[2], it likely represents where our data came from. 

#### 3]Should You remove all rows with NaN?

No we should not remove numbers with NaN. We should not remove these numbers because doing so would remove that entire row. The fact that All time Peak and Peak contain NaN is not a big problem. Removing NaN is something that would heavily skew our data. Ultimately, if our objective was to analyze actual gross, we would not drop NaN. If our object was to analyze All Time Peak, then we may conisder dropping NaN more seriously. 

#### 3] Are there any duplicate rows? 
There are no duplicate rows

In [50]:
#3]
print(df.isna().sum())

df.head()

Rank                                 0
Peak                                11
All Time Peak                       14
Actual gross                         0
Adjusted gross (in 2022 dollars)     0
Artist                               0
Tour title                           0
Year(s)                              0
Shows                                0
Average gross                        0
Ref.                                 0
dtype: int64

,Rank,Peak,All Time Peak,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571",[1]
1,2,1,7[2],"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",[3]
2,3,1[4],2[5],"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,"$4,835,294",[6]
3,4,2[7],10[7],"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",[7]
4,5,2[4],NaN,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8]

In [52]:
#3]
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
dtype: bool

## 4] Using the dictionary given here, add a genre column using the .map() command.

In [87]:
#4
artist_to_genre = {
    "Taylor Swift": "Pop / Country",
    "Beyoncé": "R&B / Pop",
    "Madonna": "Pop",
    "Pink": "Pop Rock",
    "Celine Dion": "Adult Contemporary",
    "Lady Gaga": "Pop / Dance",
    "Katy Perry": "Pop",
    "Cher": "Pop / Disco",
    "Adele": "Soul / Pop"
}

df['Genre'] = df['Artist'].map(artist_to_genre)
df

,Rank,Peak,All Time Peak,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.,range,Genre
0,1,1,2,NaN,NaN,Taylor Swift,The Eras Tour †,2023–2024,56,NaN,[1],"(41.0, 150.0]",Pop / Country
1,2,1,7[2],NaN,NaN,Beyoncé,Renaissance World Tour,2023,56,NaN,[3],"(41.0, 150.0]",R&B / Pop
2,3,1[4],2[5],NaN,NaN,Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,NaN,[6],"(41.0, 150.0]",Pop
3,4,2[7],10[7],NaN,NaN,Pink,Beautiful Trauma World Tour,2018–2019,156,NaN,[7],"(150.0, 300.0]",Pop Rock
4,5,2[4],NaN,NaN,NaN,Taylor Swift,Reputation Stadium Tour,2018,53,NaN,[8],"(41.0, 150.0]",Pop / Country
5,6,2[4],10[9],NaN,NaN,Madonna,The MDNA Tour,2012,88,NaN,[9],"(41.0, 150.0]",Pop
6,7,2[10],NaN,NaN,NaN,Celine Dion,Taking Chances World Tour,2008–2009,131,NaN,[11],"(41.0, 150.0]",Adult Contemporary
7,7,NaN,NaN,NaN,NaN,Pink,Summer Carnival †,2023–2024,41,NaN,[12],NaN,Pop Rock
8,9,NaN,NaN,NaN,NaN,Beyoncé,The Formation World Tour,2016,49,NaN,[13],"(41.0, 150.0]",R&B / Pop
9,10,NaN,NaN,NaN,NaN,Taylor Swift,The 1989 World Tour,2015,85,NaN,[14],"(41.0, 150.0]",Pop / Country
10,11,NaN,NaN,NaN,NaN,Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,NaN,[15][16],"(41.0, 150.0]",R&B / Pop
11,12,NaN,14[17],NaN,NaN,Lady Gaga,The Monster Ball Tour *,2009–2011,203,NaN,[18],"(150.0, 300.0]",Pop / Dance
12,13,NaN,NaN,NaN,NaN,Katy Perry,Prismatic World Tour,2014–2015,151,NaN,[19],"(150.0, 300.0]",Pop
13,14,1[20],NaN,NaN,NaN,Cher,Living Proof: The Farewell Tour ‡[21][a],2002–2005,325,NaN,[20],NaN,Pop / Disco
14,15,2[c],NaN,NaN,NaN,Madonna,Confessions Tour,2006,60,NaN,[5],"(41.0, 150.0]",Pop
15,16,NaN,NaN,NaN,NaN,Pink,The Truth About Love Tour,2013–2014,142,NaN,[22],"(41.0, 150.0]",Pop Rock
16,17,NaN,NaN,NaN,NaN,Lady Gaga,Born This Way Ball,2012–2013,98,NaN,[d],"(41.0, 150.0]",Pop / Dance
17,18,NaN,NaN,NaN,NaN,Madonna,Rebel Heart Tour,2015–2016,82,NaN,[4],"(41.0, 150.0]",Pop
18,19,NaN,NaN,NaN,NaN,Adele,Adele Live 2016,2016–2017,121,NaN,[25],"(41.0, 150.0]",Soul / Pop
19,20,NaN,NaN,NaN,NaN,Taylor Swift,The Red Tour,2013–2014,86,NaN,[26],"(41.0, 150.0]",Pop / Country

## 5] Bin the number of shows into 'high','medium','low'. Your choice on with the cutoffs should be. Add columns with the cutoffs and the codes.

Here we will do 25 and under, 25-50, 50-75, 75-100 ....

In [75]:
#5]

shows = df['Shows']
# Choose the edges of your bins
bins1 = [41, 150, 300]

# Have pandas cut the data into bins
shows_categories1 = pd.cut(shows, bins1)
shows_categories1
df['range'] = shows_categories1
df

,Rank,Peak,All Time Peak,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.,range
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571",[1],"(41.0, 150.0]"
1,2,1,7[2],"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",[3],"(41.0, 150.0]"
2,3,1[4],2[5],"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,"$4,835,294",[6],"(41.0, 150.0]"
3,4,2[7],10[7],"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",[7],"(150.0, 300.0]"
4,5,2[4],NaN,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8],"(41.0, 150.0]"
5,6,2[4],10[9],"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709",[9],"(41.0, 150.0]"
6,7,2[10],NaN,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,2008–2009,131,"$2,137,405",[11],"(41.0, 150.0]"
7,7,NaN,NaN,"$257,600,000","$257,600,000",Pink,Summer Carnival †,2023–2024,41,"$6,282,927",[12],NaN
8,9,NaN,NaN,"$256,084,556","$312,258,401",Beyoncé,The Formation World Tour,2016,49,"$5,226,215",[13],"(41.0, 150.0]"
9,10,NaN,NaN,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",[14],"(41.0, 150.0]"
10,11,NaN,NaN,"$229,100,000[b]","$283,202,896",Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,"$1,735,606",[15][16],"(41.0, 150.0]"
11,12,NaN,14[17],"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,2009–2011,203,"$1,118,227",[18],"(150.0, 300.0]"
12,13,NaN,NaN,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,2014–2015,151,"$1,350,993",[19],"(150.0, 300.0]"
13,14,1[20],NaN,"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour ‡[21][a],2002–2005,325,"$615,385",[20],NaN
14,15,2[c],NaN,"$194,000,000","$281,617,035",Madonna,Confessions Tour,2006,60,"$3,233,333",[5],"(41.0, 150.0]"
15,16,NaN,NaN,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,2013–2014,142,"$1,295,775",[22],"(41.0, 150.0]"
16,17,NaN,NaN,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,2012–2013,98,"$1,734,694",[d],"(41.0, 150.0]"
17,18,NaN,NaN,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,2015–2016,82,"$2,070,732",[4],"(41.0, 150.0]"
18,19,NaN,NaN,"$167,700,000[e]","$204,486,106",Adele,Adele Live 2016,2016–2017,121,"$1,385,950",[25],"(41.0, 150.0]"
19,20,NaN,NaN,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,2013–2014,86,"$1,744,186",[26],"(41.0, 150.0]"

## 6] Create dummy variables for the genres. Separate the text by the / symbol

In [93]:
#6]

dummies = df['Genre'].str.get_dummies("/")
df_new = df.join(dummies.add_prefix('genre_'))
df_new

,Rank,Peak,All Time Peak,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,...,genre_ Country,genre_ Dance,genre_ Disco,genre_ Pop,genre_Adult Contemporary,genre_Pop,genre_Pop,genre_Pop Rock,genre_R&B,genre_Soul
0,1,1,2,NaN,NaN,Taylor Swift,The Eras Tour †,2023–2024,56,NaN,...,1,0,0,0,0,0,1,0,0,0
1,2,1,7[2],NaN,NaN,Beyoncé,Renaissance World Tour,2023,56,NaN,...,0,0,0,1,0,0,0,0,1,0
2,3,1[4],2[5],NaN,NaN,Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,NaN,...,0,0,0,0,0,1,0,0,0,0
3,4,2[7],10[7],NaN,NaN,Pink,Beautiful Trauma World Tour,2018–2019,156,NaN,...,0,0,0,0,0,0,0,1,0,0
4,5,2[4],NaN,NaN,NaN,Taylor Swift,Reputation Stadium Tour,2018,53,NaN,...,1,0,0,0,0,0,1,0,0,0
5,6,2[4],10[9],NaN,NaN,Madonna,The MDNA Tour,2012,88,NaN,...,0,0,0,0,0,1,0,0,0,0
6,7,2[10],NaN,NaN,NaN,Celine Dion,Taking Chances World Tour,2008–2009,131,NaN,...,0,0,0,0,1,0,0,0,0,0
7,7,NaN,NaN,NaN,NaN,Pink,Summer Carnival †,2023–2024,41,NaN,...,0,0,0,0,0,0,0,1,0,0
8,9,NaN,NaN,NaN,NaN,Beyoncé,The Formation World Tour,2016,49,NaN,...,0,0,0,1,0,0,0,0,1,0
9,10,NaN,NaN,NaN,NaN,Taylor Swift,The 1989 World Tour,2015,85,NaN,...,1,0,0,0,0,0,1,0,0,0
10,11,NaN,NaN,NaN,NaN,Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,NaN,...,0,0,0,1,0,0,0,0,1,0
11,12,NaN,14[17],NaN,NaN,Lady Gaga,The Monster Ball Tour *,2009–2011,203,NaN,...,0,1,0,0,0,0,1,0,0,0
12,13,NaN,NaN,NaN,NaN,Katy Perry,Prismatic World Tour,2014–2015,151,NaN,...,0,0,0,0,0,1,0,0,0,0
13,14,1[20],NaN,NaN,NaN,Cher,Living Proof: The Farewell Tour ‡[21][a],2002–2005,325,NaN,...,0,0,1,0,0,0,1,0,0,0
14,15,2[c],NaN,NaN,NaN,Madonna,Confessions Tour,2006,60,NaN,...,0,0,0,0,0,1,0,0,0,0
15,16,NaN,NaN,NaN,NaN,Pink,The Truth About Love Tour,2013–2014,142,NaN,...,0,0,0,0,0,0,0,1,0,0
16,17,NaN,NaN,NaN,NaN,Lady Gaga,Born This Way Ball,2012–2013,98,NaN,...,0,1,0,0,0,0,1,0,0,0
17,18,NaN,NaN,NaN,NaN,Madonna,Rebel Heart Tour,2015–2016,82,NaN,...,0,0,0,0,0,1,0,0,0,0
18,19,NaN,NaN,NaN,NaN,Adele,Adele Live 2016,2016–2017,121,NaN,...,0,0,0,1,0,0,0,0,0,1
19,20,NaN,NaN,NaN,NaN,Taylor Swift,The Red Tour,2013–2014,86,NaN,...,1,0,0,0,0,0,1,0,0,0

## 7] Remove the $ from the money columns and turn these into integers.

**Notes:** *inplace = True does not work I had to look into regex as the notes suggested. int() function did not work because the dataframe is a series not a class. Google search recommended I use the pd function as.numeric*

In [98]:
#7
dollar_sign = ['Actual\xa0gross', 'Adjusted\xa0gross (in 2022 dollars)','Average gross']

for n in dollar_sign:
    df[n] = df[n].replace('[$]', '', regex = True)
    df[n] = pd.to_numeric(df[n], errors = 'coerce') 
df

,Rank,Peak,All Time Peak,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.,range,Genre
0,1,1,2,NaN,NaN,Taylor Swift,The Eras Tour †,2023–2024,56,NaN,[1],"(41.0, 150.0]",Pop / Country
1,2,1,7[2],NaN,NaN,Beyoncé,Renaissance World Tour,2023,56,NaN,[3],"(41.0, 150.0]",R&B / Pop
2,3,1[4],2[5],NaN,NaN,Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,NaN,[6],"(41.0, 150.0]",Pop
3,4,2[7],10[7],NaN,NaN,Pink,Beautiful Trauma World Tour,2018–2019,156,NaN,[7],"(150.0, 300.0]",Pop Rock
4,5,2[4],NaN,NaN,NaN,Taylor Swift,Reputation Stadium Tour,2018,53,NaN,[8],"(41.0, 150.0]",Pop / Country
5,6,2[4],10[9],NaN,NaN,Madonna,The MDNA Tour,2012,88,NaN,[9],"(41.0, 150.0]",Pop
6,7,2[10],NaN,NaN,NaN,Celine Dion,Taking Chances World Tour,2008–2009,131,NaN,[11],"(41.0, 150.0]",Adult Contemporary
7,7,NaN,NaN,NaN,NaN,Pink,Summer Carnival †,2023–2024,41,NaN,[12],NaN,Pop Rock
8,9,NaN,NaN,NaN,NaN,Beyoncé,The Formation World Tour,2016,49,NaN,[13],"(41.0, 150.0]",R&B / Pop
9,10,NaN,NaN,NaN,NaN,Taylor Swift,The 1989 World Tour,2015,85,NaN,[14],"(41.0, 150.0]",Pop / Country
10,11,NaN,NaN,NaN,NaN,Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,NaN,[15][16],"(41.0, 150.0]",R&B / Pop
11,12,NaN,14[17],NaN,NaN,Lady Gaga,The Monster Ball Tour *,2009–2011,203,NaN,[18],"(150.0, 300.0]",Pop / Dance
12,13,NaN,NaN,NaN,NaN,Katy Perry,Prismatic World Tour,2014–2015,151,NaN,[19],"(150.0, 300.0]",Pop
13,14,1[20],NaN,NaN,NaN,Cher,Living Proof: The Farewell Tour ‡[21][a],2002–2005,325,NaN,[20],NaN,Pop / Disco
14,15,2[c],NaN,NaN,NaN,Madonna,Confessions Tour,2006,60,NaN,[5],"(41.0, 150.0]",Pop
15,16,NaN,NaN,NaN,NaN,Pink,The Truth About Love Tour,2013–2014,142,NaN,[22],"(41.0, 150.0]",Pop Rock
16,17,NaN,NaN,NaN,NaN,Lady Gaga,Born This Way Ball,2012–2013,98,NaN,[d],"(41.0, 150.0]",Pop / Dance
17,18,NaN,NaN,NaN,NaN,Madonna,Rebel Heart Tour,2015–2016,82,NaN,[4],"(41.0, 150.0]",Pop
18,19,NaN,NaN,NaN,NaN,Adele,Adele Live 2016,2016–2017,121,NaN,[25],"(41.0, 150.0]",Soul / Pop
19,20,NaN,NaN,NaN,NaN,Taylor Swift,The Red Tour,2013–2014,86,NaN,[26],"(41.0, 150.0]",Pop / Country

## 8] Remove all other special characters from the data.

In [506]:
#8.
special_characters = ['Rank', 'Peak', 'All Time Peak', 'Actual\xa0gross', 'Adjusted\xa0gross (in 2022 dollars)', 'Artist', 
                      'Tour title', 'Year(s)', 'Shows', 'Average gross', 'Ref.', 'genre', 'Genre', 'range']
regexpattern= r'[\\$‡*&†[\]\/]'
for s in special_characters:
    df[s] = df[s].replace(regexpattern, '' , regex = True) #I rem

df

,Rank,Peak,All Time Peak,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.,genre,Genre,range
0,1,1,2,NaN,NaN,Taylor Swift,The Eras Tour,20232024,56,NaN,1,Pop Country,Pop Country,"(41.0, 150.0]"
1,2,1,72,NaN,NaN,Beyoncé,Renaissance World Tour,2023,56,NaN,3,RB Pop,RB Pop,"(41.0, 150.0]"
2,3,14,25,NaN,NaN,Madonna,Sticky Sweet Tour 4a,20082009,85,NaN,6,Pop,Pop,"(41.0, 150.0]"
3,4,27,107,NaN,NaN,Pink,Beautiful Trauma World Tour,20182019,156,NaN,7,Pop Rock,Pop Rock,"(150.0, 300.0]"
4,5,24,NaN,NaN,NaN,Taylor Swift,Reputation Stadium Tour,2018,53,NaN,8,Pop Country,Pop Country,"(41.0, 150.0]"
5,6,24,109,NaN,NaN,Madonna,The MDNA Tour,2012,88,NaN,9,Pop,Pop,"(41.0, 150.0]"
6,7,210,NaN,NaN,NaN,Celine Dion,Taking Chances World Tour,20082009,131,NaN,11,Adult Contemporary,Adult Contemporary,"(41.0, 150.0]"
7,7,NaN,NaN,NaN,NaN,Pink,Summer Carnival,20232024,41,NaN,12,Pop Rock,Pop Rock,NaN
8,9,NaN,NaN,NaN,NaN,Beyoncé,The Formation World Tour,2016,49,NaN,13,RB Pop,RB Pop,"(41.0, 150.0]"
9,10,NaN,NaN,NaN,NaN,Taylor Swift,The 1989 World Tour,2015,85,NaN,14,Pop Country,Pop Country,"(41.0, 150.0]"
10,11,NaN,NaN,NaN,NaN,Beyoncé,The Mrs. Carter Show World Tour,20132014,132,NaN,1516,RB Pop,RB Pop,"(41.0, 150.0]"
11,12,NaN,1417,NaN,NaN,Lady Gaga,The Monster Ball Tour,20092011,203,NaN,18,Pop Dance,Pop Dance,"(150.0, 300.0]"
12,13,NaN,NaN,NaN,NaN,Katy Perry,Prismatic World Tour,20142015,151,NaN,19,Pop,Pop,"(150.0, 300.0]"
13,14,120,NaN,NaN,NaN,Cher,Living Proof: The Farewell Tour 21a,20022005,325,NaN,20,Pop Disco,Pop Disco,NaN
14,15,2c,NaN,NaN,NaN,Madonna,Confessions Tour,2006,60,NaN,5,Pop,Pop,"(41.0, 150.0]"
15,16,NaN,NaN,NaN,NaN,Pink,The Truth About Love Tour,20132014,142,NaN,22,Pop Rock,Pop Rock,"(41.0, 150.0]"
16,17,NaN,NaN,NaN,NaN,Lady Gaga,Born This Way Ball,20122013,98,NaN,d,Pop Dance,Pop Dance,"(41.0, 150.0]"
17,18,NaN,NaN,NaN,NaN,Madonna,Rebel Heart Tour,20152016,82,NaN,4,Pop,Pop,"(41.0, 150.0]"
18,19,NaN,NaN,NaN,NaN,Adele,Adele Live 2016,20162017,121,NaN,25,Soul Pop,Soul Pop,"(41.0, 150.0]"
19,20,NaN,NaN,NaN,NaN,Taylor Swift,The Red Tour,20132014,86,NaN,26,Pop Country,Pop Country,"(41.0, 150.0]"

In [ ]:
print(df.columns.tolist())

## 9] Separate the Year(s) column into two "Tour Start" and "Tour End"

In [103]:
#9
df['Tour Start'] = df['Year(s)'].str[:4]
df['Tour End'] = df['Year(s)'].str[4:]

df

,Rank,Peak,All Time Peak,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.,range,Genre,Tour Start,Tour End
0,1,1,2,NaN,NaN,Taylor Swift,The Eras Tour †,2023–2024,56,NaN,[1],"(41.0, 150.0]",Pop / Country,2023,–2024
1,2,1,7[2],NaN,NaN,Beyoncé,Renaissance World Tour,2023,56,NaN,[3],"(41.0, 150.0]",R&B / Pop,2023,
2,3,1[4],2[5],NaN,NaN,Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,NaN,[6],"(41.0, 150.0]",Pop,2008,–2009
3,4,2[7],10[7],NaN,NaN,Pink,Beautiful Trauma World Tour,2018–2019,156,NaN,[7],"(150.0, 300.0]",Pop Rock,2018,–2019
4,5,2[4],NaN,NaN,NaN,Taylor Swift,Reputation Stadium Tour,2018,53,NaN,[8],"(41.0, 150.0]",Pop / Country,2018,
5,6,2[4],10[9],NaN,NaN,Madonna,The MDNA Tour,2012,88,NaN,[9],"(41.0, 150.0]",Pop,2012,
6,7,2[10],NaN,NaN,NaN,Celine Dion,Taking Chances World Tour,2008–2009,131,NaN,[11],"(41.0, 150.0]",Adult Contemporary,2008,–2009
7,7,NaN,NaN,NaN,NaN,Pink,Summer Carnival †,2023–2024,41,NaN,[12],NaN,Pop Rock,2023,–2024
8,9,NaN,NaN,NaN,NaN,Beyoncé,The Formation World Tour,2016,49,NaN,[13],"(41.0, 150.0]",R&B / Pop,2016,
9,10,NaN,NaN,NaN,NaN,Taylor Swift,The 1989 World Tour,2015,85,NaN,[14],"(41.0, 150.0]",Pop / Country,2015,
10,11,NaN,NaN,NaN,NaN,Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,NaN,[15][16],"(41.0, 150.0]",R&B / Pop,2013,–2014
11,12,NaN,14[17],NaN,NaN,Lady Gaga,The Monster Ball Tour *,2009–2011,203,NaN,[18],"(150.0, 300.0]",Pop / Dance,2009,–2011
12,13,NaN,NaN,NaN,NaN,Katy Perry,Prismatic World Tour,2014–2015,151,NaN,[19],"(150.0, 300.0]",Pop,2014,–2015
13,14,1[20],NaN,NaN,NaN,Cher,Living Proof: The Farewell Tour ‡[21][a],2002–2005,325,NaN,[20],NaN,Pop / Disco,2002,–2005
14,15,2[c],NaN,NaN,NaN,Madonna,Confessions Tour,2006,60,NaN,[5],"(41.0, 150.0]",Pop,2006,
15,16,NaN,NaN,NaN,NaN,Pink,The Truth About Love Tour,2013–2014,142,NaN,[22],"(41.0, 150.0]",Pop Rock,2013,–2014
16,17,NaN,NaN,NaN,NaN,Lady Gaga,Born This Way Ball,2012–2013,98,NaN,[d],"(41.0, 150.0]",Pop / Dance,2012,–2013
17,18,NaN,NaN,NaN,NaN,Madonna,Rebel Heart Tour,2015–2016,82,NaN,[4],"(41.0, 150.0]",Pop,2015,–2016
18,19,NaN,NaN,NaN,NaN,Adele,Adele Live 2016,2016–2017,121,NaN,[25],"(41.0, 150.0]",Soul / Pop,2016,–2017
19,20,NaN,NaN,NaN,NaN,Taylor Swift,The Red Tour,2013–2014,86,NaN,[26],"(41.0, 150.0]",Pop / Country,2013,–2014

## 10] Save the final data as a pickle.

In [549]:
#10.
df.to_pickle("HW4.pkl")
!cat HW4.pkl

���      �pandas.core.frame��	DataFrame���)��}�(�_mgr��pandas.core.internals.managers��BlockManager���(�pandas._libs.internals��_unpickle_block����numpy.core.numeric��_frombuffer���(��       8       8       U       �       5       X       �       )       1       U       �       �       �       E      <       �       b       R       y       V       ��numpy��dtype����i8�����R�(K�<�NNNJ����J����K t�bKK���C�t�R�builtins��slice���K	K��R�K��R�h�numpy.core.multiarray��_reconstruct���h�ndarray���K ��Cb���R�(KKK��h�O8�����R�(K�|�NNNJ����J����K?t�b�]�(�2��72��25��107�G�      �109�G�      G�      G�      G�      G�      �1417�G�      G�      G�      G�      G�      G�      G�      G�      et�bhKKK��R�K��R�hh%h'K ��h)��R�(KKK��h/�]�(�Pop  Country��RB  Pop��Pop�Pop Rock��Pop  Country�hE�Adult Contemporary�hF�RB  Pop��Pop  Country��RB  Pop��
Pop  Dance�hE�
Pop  Disco�hEhF�
Pop  Dance�hE�	Soul  Pop��Pop  Country�et�bhKKK��R�K��R�hh%h'K ��h)��R�(KKK��h/�]�(�Pop  Country��RB  Pop�hEPop Rock��Pop  Country�hE�Adult Contemporary�h]�RB  Pop��Pop  Country��RB  Pop��
Pop  Dance�hE�
Pop  Disco�hEh]�
K��R�K��R�h�pandas._libs.arrays��__pyx_unpickle_NDArrayBacked����pandas.core.arrays.categorical��Categorical���J�N��R��pandas.core.dtypes.dtypes��CategoricalDtype���)��}�(�
IntervalIndex���}�(�left��pandas.core.indexes.base��valIndex���h{�
KK��R�K��R�hh%h'K ��h)��R�(KKK��h/�]�(�1��3��6��7��8��9��11��12��13��14��1516��18��19��20��5��22��d��4��25��26�et�bhKR�h�Nu��R��closed�h�h�Nu��R��ordered��ubh(�             �   �      �h�i1�����R�(Kh0NNNJ����J����K t�bK��ht�R�}���bhK
KK��R�K��R�hh(��             �      �      �      �      �      �      �      �      �      �      �      �      �      �      �      �      �      �      �      ��h�f8�����R�(KhNNNJ����J����K t�bKK��ht�R�hK	K
K��R�K��R�hh%h'K ��h)��R�(KKK��h/�]�(20232024��2023�20082009�20182019��2018��2012�20082009�20232024��2016��2015�20132014�20092011�20142015�20022005��2006�20132014�20122013�20152016�20162017�20132014�et�bhKK��R�K��R�hh(��             �      �      �      �      �      �      �      �      �      �      �      �      �      �      �      �      �      �      �      ��h�KK��ht�R�hKKK��R�K��R�hh(��             �      �      �      �      �      �      �      �      �      �      �      �      �      �      �      �      �      �      �      ��h�KK��ht�R�hKKK��R�K��R�hh(��                                                               	       
                                                        �hKK��ht�R�hK KK��R�K��R�hh%h'K ��h)��R�(KKK��h/�]�(�1�j  �14��27��24��24��210�G�      G�      G�      G�      G�      G�      �120��2c�G�      G�      G�      G�      G�      et�bhKKK��R�K��R�hh%h'K ��h)��R�(KKK��h/�]�(�Taylor Swift�Beyoncé��Madonna��Pink�j!  j#  �Celine Dion�j$  j"  j!  j"  �	Lady Gaga��
Actual gross��!Adjusted gross (in 2022 dollars)��Artist��l ��The Formation World Tour��The 1989 World Tour��The Mrs. Carter Show World Tour��The Monster Ball Tour ��Prismatic World Tour��#Living Proof: The Farewell Tour 21a��Confessions Tour��The Truth About Love Tour��Born This Way Ball��Rebel Heart Tour��Adele Live 2016��The Red Tour�et�bhKKK��R�K��R�hh%h'K ��h)��R�(KKK��h/�]�(�2023�hڌ2008��2018�h�hތ2008��2023�h�h�2013��2009��2014��2002�h�2013��2012��2015��2016��2013�et�bhKKK��R�K��R�hh%h'K ��h)��R�(KKK��h/�]�(�2024�� ��2009��2019�jk  jk  �2009��2024�jk  jk  �2014��2011��2015��2005�jk  �2014��2013��2016��2017��2014�et�bhKKK��R�K��R�t�]�(h�h�}�(h�h%h'K ��h)��R�(KK��h/�]�(�Rank��Peak��
Average gross��Ref.��genre��Genre��range��
Tour Start�Tour End�et�bh�Nu��R�h��pandas.core.indexes.range��
RangeIndex���}�(h�N�start�K �stop�K�step�Ku��R�e��R��_typ��	dataframe��	_metadata�]��attrs�}��_flags�}��allows_duplicate_labels��sub.