In [15]:
#8. **In a NEW NOTEBOOK** Write code that reads in your subset of the data, markdown that explains clearly where 
#you got the data originally (license and references included) and the process you took to create your subset, 
#a description of the question you are answering, and code that can reliably run and answer your question 
#followed by words that explain your results.

import pandas as pd

In [17]:
filename = 'top_10_gdp.csv'
pd.read_csv(filename)
#Reference = https://www.kaggle.com/datasets/codebynadiia/gdp-per-country-20202025/code

#The parent dataset necessary for constructing this subset comes from Kaggle "GDP per Country 2020-2025" by Nadiia. This 
#dataset was published September 4, 2025. It is entirely free to use and is released under MIT license. This dataset is fairly new and 
# does not provide citations, but the dataset was constructed using IMF estimates from 2020-2025

#Process to create the subset. 

#In order to create the top_10_gdp subset the following steps were taken. First, the original Kaggle dataset used was loaded in 
# directly to python. We did this my importing kagglehub, obtaining the path, and loading the file into pandas. Second, we grouped the
#data by country, and sorted GDP values for 2025 from largest to smallest. This made it possible to identify which country
#had the largest GDP. Third, we were only interested in the top 10 countries, so we used the head(10) function to show
#only what we wanted. Finally, this resulted in the creation of the data subset "top_10_gdp" which was saved as a .csv file.

          Country        2025
0   United States  30507217.0
1           China  19231705.0
2         Germany   4744804.0
3           India   4187017.0
4           Japan   4186431.0
5  United Kingdom   3839180.0
6          France   3211292.0
7           Italy   2422855.0
8          Canada   2225341.0
9          Brazil   2125958.0