In [4]:
import pandas as pd

file_name = 'data/ex1.csv'
df = pd.read_csv(file_name)

df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
file_name = 'data/ex2.csv'
df_nh = pd.read_csv(file_name)
df_nh

# this is using data points we want as a header which is not correct we need to do this (header = none)

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12    foo

In [7]:
# With default numbered column names. We use this so we can use the data that was prviously a header
file_name = 'data/ex2.csv'
df_nh = pd.read_csv(file_name, header=None)
df_nh

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [8]:
#If we know our that our data has no heder but know the names we want it to be just use names=
# With column names that you give
file_name = 'data/ex2.csv'
df_nh = pd.read_csv(file_name, header=None, names=["a", "b", "c", "d", "message"])
df_nh

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [9]:
names = ["a", "b", "c", "d", "message"]
pd.read_csv("data/ex2.csv", names=names, index_col="message")

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [13]:
#I try using optional arguements
file_name2 = 'data/ex4.csv'
!cat data/ex4.csv

i_want = ["a", "b", "c", "d", "message"]
pd.read_csv("data/ex2.csv", names=names, index_col="message")

#pd.read_csv(file_name2)

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo